@import url(https://fonts.googleapis.com/css?family=Montserrat);
.content {
  margin: 7rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.heading {
  text-align: center;
  text-transform: capitalize;
}
.owner {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1rem;
  @media only screen and(max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}
.text {
  @media only screen and(max-width: 600px) {
    text-align: center;
  }
}
.image-about {
  @media only screen and(max-width: 600px) {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
}
