.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(rgba(238, 234, 234, 0.315), rgba(240, 236, 236, 0.315)),
    url(../images/lost-co-178990-unsplash.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content {
  flex-grow: 1;
}
